body {
padding: 18px 80px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valoresConvert, .valorConvertido {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
}

.valorInicio h3,
.valorInicio h2,
.valorFinal h2,
.valorFinal h3 {
    margin: 0px;
    padding: 0px;
}

.valorFinal {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.valorFinal > .btn {
    margin-top: auto;
}

.btn > button{
    border-radius: 30px;
    border: 0.5px solid rgb(168, 168, 168);
    height: 40px;
    width: 120px;
    cursor: pointer;
}


.valorInformado{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.valorConvertido{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentValor {
    width: 450px;
    height: 100%;
}

.valorDigitar > input {
    width: 95%;
    padding: 0px;
    margin: 0px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    outline: none; /* Remove a borda azul padrão ao focar */
}

.valorFinalConvetido {
    min-height: 250px;
    background-color: white;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.btnLogin {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 8px;
}

.btn {
    display: flex;
    align-items: end;
}

.btnLogin > button {
    height: 60px;
    width: 160px;
    border-radius: 40px;
    border: 0px;
    margin-right: 80px;
    font-size: 16px;
}

.moedas, .moedasPara {
    width: 100%;
    margin-bottom: 8px;
    height: 40px;
}

.custom-select {
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

.span {
    margin-right: 100px;
}

.selected-option,.selected-option-para {
    display: flex;
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    justify-content: space-between;
}

.options-container {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 10;
    width: 100%;
}

.option {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.custom-select.open .options-container {
    display: block;
}

.btnpara {
    display: none;
}

.valorDigitar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.taxaConvert {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.taxaConvert h3,
.taxaConvert h1 {
    padding: 0;
    margin: 0;
}

.descInfo {
    font-size: 14px;
    color: #9E9EA7;
}

input {
    border: 0px;
}

.input:active {
    border: 0px;
}

h1 {
    padding: 0;
    margin: 0;
}